/* Default theme. Simple, yet elegant. */

/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
  --tf-pink1:#ffb3d9;
  --tf-pink2:#ff99cc;
  --tf-pink3:#ff80bf;
  --tf-pink4:#ff66b3;
  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-link-color: var(--tf-pink4);
  --tf-pill-bg: var(--tf-pink2);
  --tf-icon-fill: var(--tf-pink4);
  --tf-page-bg-color: var(--bs-white);
  --tf-footer-bg-color: var(--tf-pink1);
  --tf-projects-bg-color: var(--tf-pink1);
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-icon-fill);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
}

a {
  text-decoration: none;
}

/* Simplify the styling of the bottom of Essay cards. */
.card-footer {
  background-color: var(--bs-lightpink);
  border-top: none;
}
